<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatVersity</title>
    <link rel="stylesheet" href="/build/tailwind.css">
    <link rel="stylesheet" href="/build/iziToast.css">
    <script src="/build/iziToast.js"></script>
</head>
<body>
    <%- include('../partials/alerts') %>
</body>
</html>