<%- include('../layouts/boilerplate.ejs') %> 
<link rel="stylesheet" href="/css/profile.css">
<body>

<div class="align-middle">
    <a href="/users/signout">
        <button class="py-2 bg-red-600 hover:bg-ref-500 text-white rounded-md pr-6 pl-6">
            Sign out
        </button>
    </a>
</div>
<div class="mx-auto mt-16 p-8 max-w-lg flex border rounded-lg shadow">
    <img class="w-32 h-32 rounded-full" src="<%=user.picture_url%>" alt="Avatar"/>
    <div class="ml-4 flex flex-col justify-between">
    <div>
    <h1 class="flex items-center text-2xl font-medium leading-none">
    <%=user.name %>
    <span class="verified relative">
        <div class="tooltip hidden p-2 absolute bg-black text-white text-xs rounded select-none">
        Verified
        <svg class="tooltip-bottom absolute text-black w-full h-2 mx-auto" viewBox="0 0 255 255" xml:space="preserve"><polygon class="fill-current" points="0,0 127.5,127.5 255,0"/></svg>
        </div>
        <svg class="ml-2 w-8 h-8 text-green-500 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
    </span>
    </h1>
    <span class="text-gray-800">@<%=user.username%></span>
    </div>
    <a href="/chat/"><button class="py-2 bg-blue-600 hover:bg-blue-500 text-white rounded-md pr-6 pl-6">Chat</button></a>
</div>
    <!-- <button>
    <svg class="w-6 h-6 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path></svg>
    </button> -->
</div>
</body>