<%- include('../layouts/boilerplate.ejs') %> 
<body>
    <a href="/users/signout">Sign Out</a>  
    <h1>Hi <%=user.name %></h1>

    <img src="<%=user.picture_url%>" alt="">
    <a href="/chat/">Chat</a>
</body>
