<%- include('../layouts/boilerplate.ejs') %> 
<head>
    <meta name="google-signin-client_id" content="<%=process.env.GOOGLE_CLIENT_ID%>">
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</head>
<body>
    <br><br>
    <center><h1>Signin with google</h1>
    </center> 

    <center><div id="my-signin2"></div>
    </center>
</body>
</html>
<script src="/js/oauth.js"></script>
