<%- include('../layouts/boilerplate.ejs') %> 
<head>
    <meta name="google-signin-client_id" content="<%=process.env.GOOGLE_CLIENT_ID%>">
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</head>
<body>
    <p class="text-7xl text-center my-8">Sign in to Chatversity</p>

    <center><div id="my-signin2"></div>
    </center>
</body>
</html>
<script src="/js/oauth.js"></script>
