<%- include('../layouts/boilerplate') %>
<body>
<script>
    </script>
    <h1>User Details</h1>
    <form action="/users/userdetails" method="POST">
        <input type="text" name="phone" placeholder="Phone Number" required><br>
        <input type="text" name="address" placeholder="Address" required><br>
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="date" name="dob" placeholder="Phone Number" required><br>
        <button type="submit">Submit</button>
    </form>
</body>